/* Style the Navbar */
.bg-light {
    background-color: white !important;
}
.navbar-brand {
    font-size: 2.25rem;
    font-weight: bold;
}

.nav-link {
   font-weight: bold;
}
.btn-akaname{
    background-color:red;
    color: white!important;
}

/* Style the hero section */
.hero-section{
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height:500px;
    margin-top: 100px; 
}
/* Style the akan name section */
#akan-name-jumbotron{
    background-image: url("../img/akan-avatar.jpg");
}
#result-box{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px red;
}
.result-pargraph{
    margin-top: 50px;
}
footer{
    background-color: #C4C4C4;
}
